<nav class="settings-nav">
  <div class="settings-nav-item settings-nav-heading">Site settings</div>
  <%= link_to "General", settings_site_path, class: settings_nav_class(:site) %>
  <%= link_to "Printers", settings_printers_path, class: settings_nav_class(:printers) %>
</nav>
